html {
    font-size: 16px;
}

body{
	background-color: #293f50;
	color: #888;
}

/*------------------Header Start-----------------*/

header {
	padding: 1.25rem auto;
	font-family: 'Roboto Slab', serif;
}

.logo h1 {
	float: left;
	font-size: 3rem;
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
    padding: 1.8rem 0 1.3rem 0;
	text-shadow: 0.06rem 0.06rem 0.06rem #222;
}
.logo a {
	color: #fff;
}

.logo a:hover {
	text-decoration: none;
	color: #648880;
}

.logo{
	margin-left: 0.4rem;
	margin-right: 0.8rem;
	border-top: 0.25rem solid #648880;
	letter-spacing: 0.03rem;
	line-height: 2.7rem;
}

.tagline {
	float: right;
	margin: 4.1rem 0 0.8rem 0;
	font-size: 1.3rem;
	text-align: right;
	color: #648880;
}

#navbarNav {
	clear: right;
	float: right;
	font-weight: 400;
	vertical-align: top;
	position: relative;
	right: 13.1rem;
	letter-spacing: 0.03rem;
}

#navbarNav a {
	font-size: 0.9rem;
	text-align: right;
	color: #fff;
	letter-spacing: 0.03rem;
	text-transform: uppercase;
}

/*---------------Footer Start------------------*/

footer {
	height: 6.2rem;
}

.primary-footer{
    color: #648880;
    font-size: 0.8rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

.copyright{
	font-weight: 400;
    color: #648880;
    font-size: 0.8rem;
    padding-bottom: 2.2rem;
    padding-top: 2.2rem;
    vertical-align: bottom;
}

#navbar {
	float: right;
	font-weight: 400;
	vertical-align: top;
	position: relative;
	right: 13.1rem;
	letter-spacing: 0.03rem;
	padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

#navbar a {
	font-size: 0.8rem;
	text-align: right;
	color: #fff;
	letter-spacing: 0.03rem;
	text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 767px) {
	html {
		font-size: 5px;
	}
}
