html {
    font-size: 16px;
}

body{
	background-color: #293f50;
	color: #888; 
	font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

/*-----------------------------2nd part--------------------------*/

.hero {
	clear: both;
	text-align: center;
	color: #fff;
    line-height: 2.75rem;
    padding: 1.3rem 5rem 5rem 5rem;
    text-align: center;
}

.hero h2 {
	line-height: 2.75rem;
	font-size: 2.25rem;
	font-weight: 200; 
}

.hero p {
    font-size: 1.5rem;
    font-weight: 100;
}

#button {
	border-radius: 0.3rem;
	margin: 0.6rem 1.2rem;
	padding: 1.1rem 2.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing:0.03rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 15vw;
    text-align: center;
    background: #293f50;
    border: 0.06rem solid #fff;
    height: 7.5vh;
    vertical-align: bottom;
}

#second a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #648880;
}

/*---------------3rd Part------------------*/

.doc {
	background: #fff;
    padding: 3.4rem 2rem 2rem 2rem;
    width: 100vw;
}

.teaser {
	padding: 0.6rem 1.2rem;
}

.teaser a:hover {
	text-decoration: none;
}

img {
	margin-bottom: 1.3rem;
	border-radius: 0.3rem;
    width: auto;
}

p, h1, h3, h4, h5 {
	margin-bottom: 1.3rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2.75;
    color: #648880;
}

h3 {
	font-size: 1.3rem;
	color: #648880;
	font-weight: 50;
}

h4 {
	color: #648880;
	font-size: 1.1rem;
}

h5 {
    color: #a9b2b9;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    #button {
        height: 9vh;
        width: 17vw;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 10px;
    }
     #button {
        margin: auto;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    .teaser {
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    #button {
        margin: auto;
    }
}