body{
	background-color: #293f50;
	color: #888;
}

/*------------------2nd Para Start-----------------*/

.row-alt{
	clear: both;
	text-align: center;
	background: linear-gradient(to right, #a1d3b0, #f6f1d3);
	padding: 44px 0 22px 0;
	width: 99%;
}

.lead p {
	font-weight: 400;
	margin-bottom: 22px;
	color: #888;
	font-size: 21px;
    line-height: 33px;
}
.lead h1 {
	color: #648880;
	margin-bottom: 22px;
}
 
/*---------------3rd Para Start------------------*/

.doc {
	float: left;
	background: #fff;
    padding: 66px 0 44px 0;
    width: 99%
}

h2 {
    font-size: 24px;
    line-height: 44px;
    color: #648880;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}
h4 {
	color: #648880;
	font-size: 18px;
	margin-bottom: 22px;
}

.why-attend li {
	list-style-type: square;
}

/*---------------Form Start------------------*/

.form {
	float: right;
}

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 5px 20px;
    text-transform: uppercase;
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px;
}

fieldset {
	width: 100%;
	margin: 10px;
    padding: 10px;
    border: 2px groove threedface;
}

label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
    padding: 10px 0 0 0;
}

input {
	width: 100%;
}

#button {
	width: 50%;
	margin: 10px;
}




